.modal{
    h5{
        color: black;
    }
    margin-top: 60px;
    p{
        color: black;
    }

    span{
        font-weight: bold;
    }

    img{
        margin: 20px auto 30px auto;
    }
}
