.logo-acima{
    top: 10%;
}

.sessao-um-acima, .sessao-dois-acima{
    height: 30vh;
}

.menu-ativo{
    display: block;
}

.box-resultado{
    background-color: white;
    height: 500px;
    margin: 0 4.16% 60px 4.16%;
    @media screen and (max-width: 640px){      
        margin: 0 auto 30px auto;
    }
}

section{
    height: 400px;
    text-align: center;
    span{
        color: orange;
    }
}

.imagem-local{
    background-color: black;
    height: 120px;
    display: block;
    margin: 25px auto 0 auto;
    border-radius: 50%;
    width: 50%;
    p{
        color: white;
        text-align: center;
        margin-top: 20px;
    }
}

.texto-local{
    color: black;
    margin: 20px auto;
    display: block;
    text-align: center;
    span{
        color: $primaria;
        font-weight: bold;
    }
    p{
        margin-bottom: 0;
    }

    a{
        color: $primaria;
        cursor: pointer;
        transition: .2s all;
        &:hover{
            color: $primaria;
            border-bottom: 3px solid black;
        }
    }
}

.modal-open{
    padding-right: 0 !important;
}

#btnInfo{    
    display: block;
    margin: 0 auto;
}

.hvr-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: black;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-left:hover:before, .hvr-left:focus:before, .hvr-left:active:before {
    right: 0;
}